main{
    display: flex;
    align-items: center;
    justify-content: center;
}

#formulario {
    width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background:#ffffff; 
    border: 1px black solid;
    border-radius:3px; 
    padding:1em;
}

#formulario h1 {
    font-family:'open_sansregular';
    font-size: 2.3em;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.grupo_form {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 30px;
    position: relative;
}
.grupo_form .legenda { 
    width: 100%;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}
/* SUBMIT */
.submit { width:100%; float:left; }
.submit_btn {
    background-color: #d1cfcf; /* Cor de fundo neutra */
    border: none;
    color: #333; /* Cor do texto */
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.submit_btn:hover {
    background-color: #b0adad;
    transform: scale(1.05);
}

.submit_btn:active {
    background-color: #8a8888; /* Cor de fundo ao clicar */
    transform: scale(0.98);
}

.check_new_btn {
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    border: 0.2em solid #4c4c4c;
}
.check_new_btn::after {
    content: "";
    height: 8px;
    width: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6fcffb;
    visibility: hidden;
}
.form_new_input:checked ~ .radio_label .radio_new_btn::after,
.form_new_input:checked ~ .check_label .check_new_btn::after {
 
    visibility: visible;
}
.form_new_input:checked ~ .radio_label,
.form_new_input:checked ~ .check_label {
    color: #6fcffb;
}
.grupo_form {
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}
.form_input {
    font-size: 16px;
    font-family: inherit;
    padding: 8px 15px;
    border-radius: 4px;
    border: 1px #f2f2f2 solid;
    background: #fdfdfd;
    outline: none;
    width: 100%;
    transition: all 0.3s;
}
.form_message,
.form_message .message_input {
    width: 100%;
    float:left;
}
.form_message_label {
    width: 100%;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
    
}